@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    <div id="content3">...</div>
    <script src="js/bundle.js"></script>
</body>
</html>
